<main id=todo_list_id_<%= todo_list.id %>>
  <header>
    <h3 class="title-todo"><%= todo_list.title %></h3>

    <span></span>
    <span>
      <% if current_user.favorite_todos.include? todo_list %>
        <%= link_to dashboard_favorite_todo_path(todo_list.id), method: :delete, remote: true do %>
          <%= fa_icon "star", class: "fav-check" %>
        <% end %>
      <% else %>
        <%= link_to dashboard_favorite_todos_path(id: todo_list.id), method: :post, remote: true do %>
          <%= fa_icon "star-o", class: "fav-uncheck" %>
        <% end %>
      <% end %>
    </span>


  </header>

  <section class="task-list current">
    <ul>

      <% todo_list.tasks.each do |task| %>
        <li>
          <div class="checkbox">
            <div class="check">
              <% if task.done %>
                <div class="check-on">
                  <%= fa_icon "check-square-o" %>
                </div>
              <% else %>
                <div class="check-on">
                  <%= fa_icon "square-o" %>
                </div>
              <% end %>
            </div>
            <div class="label">
              <mark><%= task.body %></mark>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
    <div class="author">by <%= todo_list.user.email %></div>
  </section>
</main>
